*{
    margin: 0;
    padding: 0;
    border: 0;
    /* background-color: red; */
}
/* body{
    position: absolute;
    top: 35%;
    left: 50%;
}
.card{
    background-color: red;
    width: 100px;
}
button{
    background: blue;
    padding: 10px;
    color: #fff;
} */