{% extends "base.html" %}
{% block content %}
    <div id="card">
        <h1>Welcome</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button><a href="nextButton">Let’s Play 🎮</a></button>
    </div>
{% endblock %}
<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="card">
        <h1>Welcome to GameHub</h1>
        <p>Dive into a world of fun and challenges! play quizzes, puzzles, and exciting games.</p>
        <button><a href="nextButton">Let’s Play 🎮</a></button>
    </div>
</body>
</html> -->